@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Work+Sans&display=swap');
body{
    background-color: rgb(0, 0, 0);
}
*{
    margin:0;
    padding: 0;
}
nav{
    background-color: rgb(144, 143, 143);
    color: rgb(0, 45, 45);
    height: 50px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 6px;
    font-family: 'Alkatra', cursive;
    font-family: 'Work Sans', sans-serif;
}
nav ul{
    list-style-type: none;
}

.gamecontainer{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
}
.box{
    border: 2px solid rgb(255, 255, 255);
    font-size: 8vw;
    cursor: pointer;
    font-family: 'Alkatra', cursive;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box:hover{
    background-color: rgb(117, 117, 143);
    
}
.gameinfo{
    padding: 0 34px;
}
.image{
    width: 0;
    transition: width 1s ease-in-out;
    padding: 8px;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

.resetbtn{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 60px;
    border: 3px solid white;
    border-radius: 16px;
    height: 40px;
    cursor: pointer;
    padding: 2px 0;
}
.resetbtn:hover{
    background-color: rgb(130, 125, 125);
}
.info{
    display: block;
    font-size: 5vw;
    font-family: 'Alkatra', cursive;
    font-family: 'Work Sans', sans-serif;
}
.line{
    background-color: rgb(255, 255, 255);
    width: 0;
    height: 3px;
    transition: width 1s ease-in-out;
    position: absolute;
}
.welcome{
    font-size: 6vw;
}
@media only screen and (max-width: 600px) {
    .gamecontainer{
        display: block;
    }
    .container{
       margin-left: 25%;
       margin-bottom: 50px;
       margin-top: 120px;
       position: absolute;
    }
    .image{
        display: none;
  }
